<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.company.ldap"/>

    <!--Actual values will be set from app properties/database in LdapContextSourceChangeSettingsListener. Below values need for first time initialization-->
    <ldap:context-source
            id="ldap_ldapContextSource"
            url="ldap://test:1234"
            base="dc=test,dc=org"
            username="test"
            password="test"/>

    <ldap:ldap-template id="ldap_ldapTemplate" context-source-ref="ldap_ldapContextSource"/>


</beans>
