<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ldap"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.haulmont.addon.ldap.entity.AbstractMatchingRule</class>
        <class>com.haulmont.addon.ldap.entity.DefaultMatchingRule</class>
        <class>com.haulmont.addon.ldap.entity.SimpleMatchingRule</class>
        <class>com.haulmont.addon.ldap.entity.ScriptingMatchingRule</class>
        <class>com.haulmont.addon.ldap.entity.SimpleRuleCondition</class>
    </persistence-unit>
</persistence>
